<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />





    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoCoApp"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAjcFUiAsyPfMop7_cfVOa1x6m9C4liYso" />

        <!--
			 TODO: Before you run your application, you need a Google Maps API key.

			 To get one, follow the directions here:

				https://developers.google.com/maps/documentation/android-sdk/get-api-key

			 Once you have your API key (it starts with "AIza"), define a new property in your
			 project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
			 "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
		-->


        <activity
            android:name=".ActivityPage.Bottom_Navigation"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="demozpdk"
                android:host="app" />
        </intent-filter>
        </activity>

        <activity
            android:name=".ActivityPage.Loading"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityPage.LoginScreen"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityPage.GettingStarted"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityPage.Home"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ActivityPage.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".ActivityPage.AlarmReceiver"/>


    </application>

</manifest>